body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100px 1fr;
    background-color: whitesmoke;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: rgb(15, 142, 216);
    color: whitesmoke;
}

.top-menu {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: white;

}

.menu {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    background-color: white;

}